.bg-custom {
	background-color: rgb(153, 76, 230);
}
h1 h2 h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
}

body {
	font-family: "Lato", sans-serif;
	position: relative;
	overflow-y: scroll;
}
html {
	scroll-behavior: smooth;
}
p {
	border-radius: 5px;
}
.hide-text {
	display: none;
}

.list-group {
	position: sticky;
	top: 140px;
}
footer {
	text-align: center;
	font-size: 0.75rem;
}
